{% extends 'base.html.twig' %}

{% block title 'Agence lorem ipsum'  %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem ipsum</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusamus ad adipisci debitis harum odio totam. Adipisci animi culpa, dignissimos,
            dolore excepturi harum nobis porro praesentium quae quaerat quas, quo voluptate?
        </p>
    </div>
{% endblock %}